.v-container {
    background: var(--primary-color)!important;
    background: linear-gradient(135deg, var(--primary-color) 0%, var(--secondary-color) 100%)!important;
}

.v-card {
    height: 90vh!important;
    width: 30%!important;
}

.content-card .card-header,
.content-card .card-body,
.content-card .card-footer {
    width: 80%!important;
}

.content-card .card-header {
    position: relative!important;
}

.content-card .card-header .v-logo,
.content-card .card-header .v-title,
.content-card .card-body a,
.content-card .card-footer a {
    color: var(--primary-color)!important;
}

.content-card .card-header .v-logo {
    bottom: 72px!important;
    font-size: 2rem!important;
    font-weight: bold!important;
    margin-bottom: 24px!important;
    position: absolute!important;
}

.content-card .card-header p,
.content-card .card-body a {
    font-size: 14px!important;
}

.image-card {
    background-color: transparent!important;
}