:root {
    --primary-color: #5200FF;
    --secondary-color: #BD00FF;
    --tertiary-color: #E4CDFB;
    --black: #100C08;
    --gray: #333333;
    --white: #FFFFFF;
    --yellow: #FFC107;
    --red: #FF5252;
    --grid-secondary-color: #EAE0FF;
    --grid-tertiary-color: #F5F0FF;
}

.v-main {
    padding-right: 56px!important;
}

.v-container {
    height: 100%!important;
    width: 100%!important;
}

.v-btn-primary {
    background-color: var(--primary-color)!important;
    color: var(--white)!important;
}