:root {
    --main-color: #5200FF;
    --secondary-color: #BD00FF;
    --black: #000000;
    --gray: #333333;
    --white: #FFFFFF;
}

body {
    height: 100vh!important;
    width: 100%!important;
}

.v-main{
    padding-right: 56px!important;
}